torch==2.11.0
torchvision
transformers
huggingface_hub
numpy
onnx
tensorflow
onnx2tf
onnxscript
tf_keras
onnx-graphsurgeon
onnx-graphsurgeon
psutil
ai-edge-litert
sng4onnx
sne4onnx
snc4onnx
snd4onnx
sam4onnx
scs4onnx
scc4onnx
soc4onnx
sbi4onnx
onnxsim
onnxoptimizer
simple_onnx_processing_tools
